{% extends 'base.html' %}
{% block title %}パスワード変更{% endblock title %}
{% block h1 %}パスワード変更{% endblock h1 %}
{% block content %}
    <form method="POST" action="{{ action_url }}">{% csrf_token %}
        <div class="mb-3">
            <label for="id_password1" class="form-label">新しいパスワード ※半角英数8文字以上</label>
            <input type="password" class="form-control" id="id_password1" placeholder="半角英数8文字以上" name="password1" value="{% if form.password1.value %}{{form.password1.value}}{% endif %}">
        </div>
        {% if form.password1.errors %}
            <div class="alert alert-danger" role="alert">
                {{form.password1.errors}}
            </div>
        {% endif %}
        <div class="mb-3">
            <label for="id_password2" class="form-label">新しいパスワード（確認）</label>
            <input type="password" class="form-control" id="id_password2" placeholder="半角英数8文字以上" name="password2" value="">
        </div><br>
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{form.non_field_errors}}
            </div>
        {% endif %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-success" type="submit" name="action">パスワード変更 <i class="fas fa-exchange-alt"></i></i></button>
        </div><br>
    </form>
{% endblock content %}