{% extends 'base.html' %}
{% block title %}パスワード変更{% endblock title %}
{% block h1 %}パスワード変更{% endblock h1 %}
{% block content %}
    <form method="POST" action="/accounts/password/reset/">{% csrf_token %}
        <p class="fw-light">パスワードをお忘れですか？パスワードをリセットするために、メールアドレスを入力してください。</p><br>
        <div class="mb-3">
            <label for="id_email" class="form-label">メールアドレス{{form.email.errors}}</label>
            <input type="email" class="form-control" id="id_email" placeholder="メールアドレス" name="email" value="">
            {% if form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.email.errors}}
                </div>
            {% endif %}
        </div><br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">パスワードリセット <i class="fas fa-unlock-alt"></i></button>
        </div><br>
    </form>
{% endblock content %}