{% extends 'base.html' %}
{% block title %}設定{% endblock title %}
{% block h1 %}設定{% endblock h1 %}
{% block content %}
    {% load static %}
    <link href="{% static 'css/setting.css' %}" rel="stylesheet">
    {% if messages %}
        <ul class="messages_ul">
            {% for message in messages %}
                <li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST">{% csrf_token %}
        <h4>・検索キーワード</h4>
        <p class="text-warning">任意のキーワードを最低１つ登録してください</p>
        <div class="mb-3">
            <label for="id_key1" class="form-label">キーワード1（入力必須）</label>
            <input type="text" class="form-control" id="id_key1" placeholder="キーワード" name="key1" value="{{form.key1.value}}">
        </div>
        {% if form.key1.errors %}
            <div class="alert alert-danger" role="alert">
                {{form.key1.errors}}
            </div>
        {% endif %}
        <div class="mb-3">
            <label for="id_key2" class="form-label">キーワード2</label>
            <input type="text" class="form-control" id="id_key2" placeholder="キーワード" name="key2" value="{{form.key2.value}}">
        </div>
        <div class="mb-3">
            <label for="id_key3" class="form-label">キーワード3</label>
            <input type="text" class="form-control" id="id_key3" placeholder="キーワード" name="key3" value="{{form.key3.value}}">
        </div>
        <h4 id="h4-site">・検索対象サイト</h4>
        <ul class="list-group">
            <li class="list-group-item bg-primary">
                <p class="text-light">時事系 - current events</p>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                {{ form.site1 }}
                <label class="form-check-label" for="id_site1">yahoo!ニュース</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                {{ form.site2 }}
                <label class="form-check-label" for="id_site2">時事ドットコム</label>
                </div>
            </li>
            <li class="list-group-item bg-dark">
                <p class="text-light">経済系 - economy</p>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                {{ form.site3 }}
                <label class="form-check-label" for="id_site3">日本経済新聞</label>
                </div>
            </li>
            <li class="list-group-item bg-warning">
                <p class="text-light">趣味系 - hobby</p>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                {{ form.site4 }}
                <label class="form-check-label" for="id_site4">ORICON NEWS</label>
                </div>
            </li>
            <li class="list-group-item bg-info">
                <p class="text-light">スポーツ系 - sports</p>
            </li>
            <li class="list-group-item">
                <div class="form-check form-switch">
                {{ form.site5 }}
                <label class="form-check-label" for="id_site5">日刊スポーツ</label>
                </div>
            </li>
        </ul>
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{form.non_field_errors}}
            </div>
        {% endif %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-success" type="submit">登録 <i class="fas fa-check"></i></button>
            <a class="btn btn-secondary" href="{% url 'index' %}" role="button">ニュース一覧へ <i class="far fa-newspaper"></i></a>
        </div><br>
    </form>
{% endblock content %}